<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>corp.sap.SapMachineManager.xpc</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>corp.sap.sapmachine.daemon</string>
	<key>Program</key>
	<string>/Applications/SapMachine Manager.app/Contents/MacOS/SMUDaemon</string>
	<key>AssociatedBundleIdentifiers</key>
	<string>corp.sap.SapMachineManager</string>
	<key>StartInterval</key>
	<integer>7200</integer>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
